/* Basic */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 42em;
  margin: 0 auto;
}

h1 {
  font-size: 1.35em;
}